[submodule "ref/GxEPD"]
	path = ref/GxEPD
	url = https://github.com/ZinggJM/GxEPD.git
[submodule "ref/libvncserver"]
	path = ref/libvncserver
	url = https://github.com/LibVNC/libvncserver.git
[submodule "ref/PaperTTY"]
	path = ref/PaperTTY
	url = https://github.com/joukos/PaperTTY.git
[submodule "src/Test/wm8960"]
	path = src/Test/wm8960
	url = https://github.com/pguyot/wm8960.git
[submodule "src/Test/rpi-5inch-hdmi-touchscreen-driver"]
	path = src/Test/rpi-5inch-hdmi-touchscreen-driver
	url = https://github.com/saper-2/rpi-5inch-hdmi-touchscreen-driver.git
[submodule "src/Test/libsuinput"]
	path = src/Test/libsuinput
	url = https://github.com/tuomasjjrasanen/libsuinput.git
[submodule "src/Test/rpi_touch_driver"]
	path = src/Test/rpi_touch_driver
	url = https://github.com/bsteinsbo/rpi_touch_driver.git
[submodule "src/FlightComputer/Arduino/Libraries/lvgl"]
	path = src/FlightComputer/Arduino/Libraries/lvgl
	url = https://github.com/littlevgl/lvgl.git
